.fmjs-item-is-unread, .fmjs-is-read {
	font-weight:bold;
}
.fmjs-item-is-read, .fmjs-is-read {
	font-weight:normal !important;
}

.fmjs-hot-links, #fmjs-hot-content .fmjs-hot-links :link, #fmjs-hot-content .fmjs-hot-links :visited, #fmjs-single-content a, .fmjs-content :link {
	text-decoration:none;
	color:steelblue;
}

img.fmjs-favicon {
	padding:1px;
	border:1px solid #ddd;
	margin-right: 5px;
	vertical-align:middle;
}

#fmjs-single-content :link, #fmjs-single-content :visited {
	text-decoration:none;
	color:steelblue;
}
#fmjs-single-content img, #fmjs-single-content object {
	max-width:85%;
}

/* integrated clearfix by: http://www.webtoolkit.info/css-clearfix.html */
#fmjs-single-content {
	max-width:100%;
	overflow:hidden;
	border:1px solid #ccc;
	padding:10px;
	border-radius:1em;
	background-color:white;
	display: inline-block;
}

#fmjs-single-content:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
* html #fmjs-single-content {
	height: 1%;
}
.fmjs-single-below-content {
	padding-top:0.3em;
	padding-right:1em;
	text-align:right;
}

.warning {
	margin:1em;
	background-color:white;
	border:1px solid red;
	border-radius:1em;
	padding:1em;
}

/* from: http://roughlybrilliant.com/jquery_mobile_best_practices */
.ui-checkbox .ui-li-heading, 
.ui-radio .ui-li-heading{
    margin-top:0;white-space:normal;
}
.ui-checkbox .ui-li-desc, 
.ui-radio .ui-li-desc{
    white-space:normal;
}



.fmjs-widget-container {
	padding-left:0.5em;
	padding-right:0.5em;
}

@media all and (max-width: 35em) {
		.fmjs-widget-container {
		padding-left:0;
		padding-right:0;
	}
}

#fmjs-groups-content .fmjs-widget-container {
	padding-left:0;
	padding-right:0;
}

.fmjs-bottom-menu {
	width:20em;
	margin-left:auto;
	margin-right:auto;
}

.fmjs-listview-content {
	white-space:normal;
}

#fmjs-single-title {
	color:steelblue;
	text-decoration:none;
}
